.memories
inputs/*
capi/*
app/envelopes_juli*
app/jeljol*
*.dat
cases
*.whl
fitting_data
ge_test_vals.txt
co2
plot*
model.py
psat_fit
fort.*
.stuff
build
.vscode
tools/Makefile
tools/tapeout/pr_diff.f90
.gdb_history
doc/ford_site
*.mod
*.smod
*mypy*
*.so
*.egg-info
tools/uml
tools/uml.png
tools/uml.svg
python/yaeos/script.py
__pycache__
iso
log
coverage.xml
fpm.rsp
tools/notebooks/sympy-differentiation.ipynb
tools/notebooks/unifac.ipynb
__pycache__
tools/notebooks/database/molarmass.csv
tools/notebooks/database/ogUNIFAC/ogUNIFAC_groups.csv
app/plot
app/plot.gnu
test/data/case1.nml
10K
D
env0.dat
env1.dat
env2.dat
env3.dat
env4.dat
env5.dat
env6.dat
envel
fit_case
fort.1
fort.2
hv
kijvar
log_srk
log_srk-hv
srk
srk_hv
fort.2
*.egg-info
*ipynb_checkpoints
chulia
flang.rsp
flash
flash_log_para
flash_log_sequ
fort.4
log2
para.py
tools/plotting/pt_envel_2ph.gnu
tools/notebooks/other.ipynb
dist
python/py
.tox
.coverage
tmp_editable
hsprpxy
iters
n2c8data
prpxy
wheelhouse
python/numpy-2.0.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
python/yaeos-0.1.0-cp312-cp312-linux_x86_64.whl
python/fpm_build
tools/notebooks/saturation.ipynb
app/coso.f90
app/fit_vl_vp.f90
app/mine.f90
app/fit_co2-bi.f90
gf.py
kij_sweep
kij_sweep2
lnphi.gnu
sweep
err
bench
GPECIN.DAT
GPECOUT.DAT
gpecplot.gp
save.DAT
fla.py
script.py
python/playground.ipynb
clap
cos
env
envlog
lg
pl
asd
coso
envlops
f
pt
pt_cp
pt_hpl
gpec_cl1.dat
gpec_cl2.dat
gpec_cl3.dat
gpec_psat1.dat
gpec_psat2.dat
gpecout
gpec_cl12.dat
gpec_cl21.dat
gpec_clll.dat
gpec_Psat1.dat
gpec_Psat2.dat
playground.ipynb
test_tx_brute
test_tx_criti
test_tx_envel
test/bug.f90
3ph.ipynb
aaa
CP_LL_CONV
CP_LL_INITS
debug_saturation_TP_dX.txt
debug_saturation_TP_X.txt
fp.dir
good_3ph
good_3ph_x
ifx_test.rsp
psdr.ipynb
scrap.ipynb
notebooks/3phCP_nofirst
notebooks/3phCP.ipynb
test/crit.f90
test/critical_line_to_other_region.f90
test/possible_4ph.f90
test/sat.f90
notebooks/*
cri.f90
test/3ph_from_dsp_HP.f90
test/betas.f90
test/from_runner.f90
test/small.f90
test/test_nrtl_hv.f90
test/vc.f90
tools/notebooks/dipy.ipynb
tools/notebooks/sympy.ipynb
tools/tapenade_diff/gerg2008.f90
tools/tapenade_diff/tapeout/gerg2008_diff.f90
python/docs/source/tutorial/more_calculations.ipynb
*_ign
media/logo_opcion1.svg
media/logo_opcion2.svg
media/logo_opcion3.svg
for_ia/
catchadeos.sh
fad_*.f90
python/docs/source/tutorial/multiphase_flash.ipynb
python/docs/source/tutorial/equations_of_state/fitting/fitting_tutorial (copy 1).ipynb
python/docs/source/tutorial/equations_of_state/fitting/fitting_tutorial copy.ipynb
python/docs/source/tutorial/equations_of_state/gpec/gpec_tutorial copy.ipynb
