*.whl
fitting_data
co2
plot*
model.py
psat_fit
fort.*
.stuff
build
.vscode
tools/Makefile
tools/tapeout/pr_diff.f90
.gdb_history
doc/ford_site
*.mod
*.smod
*mypy*
*.so
*.egg-info
tools/uml
tools/uml.png
tools/uml.svg
python/yaeos/script.py
__pycache__
iso
log
coverage.xml
fpm.rsp
tools/notebooks/sympy-differentiation.ipynb
tools/notebooks/unifac.ipynb
__pycache__
tools/notebooks/database/molarmass.csv
tools/notebooks/database/ogUNIFAC/ogUNIFAC_groups.csv
app/plot
app/plot.gnu
test/data/case1.nml
10K
D
env0.dat
env1.dat
env2.dat
env3.dat
env4.dat
env5.dat
env6.dat
envel
fit_case
fort.1
fort.2
hv
kijvar
log_srk
log_srk-hv
srk
srk_hv
fort.2
*.egg-info
*ipynb_checkpoints
chulia
flang.rsp
flash
flash_log_para
flash_log_sequ
fort.4
log2
para.py
tools/plotting/pt_envel_2ph.gnu
tools/notebooks/other.ipynb
dist
python/py
.tox
.coverage
tmp_editable
hsprpxy
iters
n2c8data
prpxy
wheelhouse
python/numpy-2.0.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
python/yaeos-0.1.0-cp312-cp312-linux_x86_64.whl
python/fpm_build
tools/notebooks/saturation.ipynb
app/coso.f90
app/fit_vl_vp.f90
app/mine.f90
app/fit_co2-bi.f90
gf.py
kij_sweep
kij_sweep2
lnphi.gnu
sweep
err
bench
GPECIN.DAT
GPECOUT.DAT
gpecplot.gp
save.DAT
fla.py
script.py
python/playground.ipynb
clap
cos
env
envlog
lg
pl
asd
coso
envlops
f
pt
pt_cp
pt_hpl
gpec_cl1.dat
gpec_cl2.dat
gpec_cl3.dat
gpec_psat1.dat
gpec_psat2.dat
gpecout
