build
.vscode
tools/Makefile
tools/tapeout/pr_diff.f90
.gdb_history
doc/ford_site
*.mod
*.smod
*mypy*
*.so
tools/uml
tools/uml.png
tools/uml.svg
python/yaeos/script.py
iso
log
coverage.xml
fpm.rsp
tools/notebooks/sympy-differentiation.ipynb
tools/notebooks/unifac.ipynb
__pycache__
tools/notebooks/database/molarmass.csv
tools/notebooks/database/ogUNIFAC/ogUNIFAC_groups.csv
app/plot
app/plot.gnu
test/data/case1.nml
10K
D
env0.dat
env1.dat
env2.dat
env3.dat
env4.dat
env5.dat
env6.dat
envel
fit_case
fort.1
fort.2
hv
kijvar
log_srk
log_srk-hv
srk
srk_hv
fort.2
*.egg-info
*ipynb_checkpoints
chulia
flang.rsp
flash
flash_log_para
flash_log_sequ
fort.4
log2
para.py
tools/plotting/pt_envel_2ph.gnu
tools/notebooks/other.ipynb
hsprpxy
iters
n2c8data
prpxy
