name = "yaeos"
version = "0.2.0b1"
license = "MPL"
author = "Federico E. Benelli"
maintainer = "federico.benelli@mi.unc.edu.ar"
copyright = "Copyright 2023, Federico E. Benelli"

[build]
link = ["lapack"]
auto-executables = true
auto-tests = true
auto-examples = false
module-naming = false

[install]
library = true

[fortran]
implicit-typing = false
implicit-external = true
source-form = "free"

[dependencies]
stdlib = "*"
test-drive = {git = "https://github.com/fortran-lang/test-drive"}
json-fortran = {git="https://github.com/jacobwilliams/json-fortran"}
forsus = {git="https://github.com/ipqa-research/forsus"}


[[example]]
name       = "example"
source-dir = "example"
main       = "demo.f90"
