include LICENCE
include README.md
include CONTRIBUTING.md
include requirements.txt
include pyproject.toml

recursive-include yaeos *.py *.so

exclude tox.ini
exclude requirements-dev.txt
exclude _build

recursive-exclude dist *
recursive-exclude tests *
recursive-exclude docs *
