include LICENCE
include README.md
include CONTRIBUTING.md
include requirements.txt
include pyproject.toml

recursive-include yaeos *.py
include yaeos/compiled_module/*.so

exclude tox.ini
exclude requirements-dev.txt
exclude _build
exclude __pycache__

recursive-exclude tmp_dir *
recursive-exclude dist *
recursive-exclude tests *
recursive-exclude docs *
